* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url(bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    height: auto; /* Adjust height to fit content */
    width: 420px;
    background: transparent;
    border-radius: 16px;
    padding: 20px 30px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
}

.container h1 {
    color: white;
    margin-bottom: 20px; /* Add space below the heading */
}

.container .billing {
    width: 100%;
    margin-bottom: 20px; /* Add space below each billing section */
}

.container .billing label,
.container .billing input,
.container .billing #calculate {
    display: block;
    color: white;
    margin-bottom: 10px; /* Add space below each element */
}

.container .billing input {
    color: black;
    width: 100%;
    padding: 8px; /* Add padding inside the input fields */
}

.container .billing #calculate {
    color: white;
    background-color: rgb(33, 122, 255);
    width: 100%;
    padding: 10px; /* Add padding to the button */
    font-size: 20px;
}
.container .billing #total{
    color: white;
    font-size: 32px;
}
.container .billing #Rs{
    font-size: 28px;
    color: white;
}